@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');


body{
  text-align: center;
  background-color: white;
  font-family: 'Merriweather', serif;
}

.navbar-brand{
  color: white;
  font-size: 1.2em;
}

.content{
  width: 500px;
  margin-left:400px;
  box-shadow: 0px 0px 16px #073805;
  background-color: rgb(67, 179, 67);
  margin-top: 50px;
  color: white;
}



#icons{
  align-items: center;
  background-color: green;
  color: white;
  padding: 1%;
  margin-top: 50px;
}

#icons a{

  margin: 1%;    
  color: white;
}

#icons a:hover{
 
  color: black;
  
}