@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');


h2{
    text-align: center;
    color: green;
    
    font-weight: bold;
}
body{
    background-color: rgb(4, 85, 1);
    font-family: 'Merriweather', serif;
}

#logo{
    float: left;
    color: blue;
    padding-left: -20%;
    text-shadow: green 0px 1px ;
    opacity: 2px;
}

.card{
    font: fantasy;
}
h3{
    color: green;
}
a{
    color: white;
}
